# Virtual environment
.venv/

# VS Code
.vscode/

# Python cache
__pycache__/
*.pyc

# Ignore all model files...
*.h5
# ...BUT keep this specific weights file tracked:
!mask_weights.weights.h5

# SavedModel folders
saved_model/

# Uploaded user images
static/uploads/

# System
.DS_Store
