# Virtual environment
.venv/

# VS Code settings
.vscode/

# Python cache files
__pycache__/
*.pyc

# Model files (ignore ALL .h5 or keras or weight files)
*.h5
*.keras

# Uploaded user images
static/uploads/

# System files
.DS_Store
